<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">

<dom-module id="tt-time-tracker">
    <template>
        <style>
            /*:host {
                --paper-toggle-button-checked-bar: {
                    width: 500px;
                    height: 500px;
                };

                --paper-toggle-button-unchecked-bar: {
                    width: 500px;
                    height: 500px;
                };

                --paper-toggle-button-checked-button: {
                    width: 250px;
                    height: 500px;
                };

                --paper-toggle-button-unchecked-button: {
                    width: 250px;
                    height: 500px;
                };
            }*/
        </style>

        <redux-store action="[[action]]" on-statechange="mapStateToThis"></redux-store>

        <div>
            <paper-toggle-button id="toggleButton" on-change="toggleClick" checked="[[toggled]]">
                [[inOrOut]]
            </paper-toggle-button>
        </div>
        Total time: [[totalTime]]
        <br>
        Log
        <br>
        <template is="dom-repeat" items="[[timeEntries]]">
            <div>[[item.type]]: [[item.time]]</div>
        </template>
    </template>

    <script>System.import('/src/components/tt-time-tracker/tt-time-tracker.ts')</script>
</dom-module>
